.formWrappDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translateY(-20%);
}
form {
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px;
}
form div {
    margin: 10px 0;
    
}

form div input {
    width: 100%;
    height: 30px;
    padding: 20px 20px;
}