.headerOne {
    width: 100%;
    margin: 0 auto 60px auto;
    
    padding: 50px 0 0;
}
.containerLg button {
    all: unset;
}
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerOne div p {
    font-size: 40px;
}
.headerOne nav {
    width: 450px;
}
.headerOne nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}
.headerOne nav ul li {
    width: 25%;
    padding: 5px;
    margin: 0 auto;
}

.headerOne nav ul a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.headerOne nav ul li a:hover {
    cursor: pointer;
    background-color: red;
    
}

/* headerTwo section */
.headerTwo {
    position: relative;
    background: #b5b5b5;
    height: 100vh;
}
.containerSmall {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0 0;
}
.headerTwo nav ul {
    list-style-type: none;
    
}
.headerTwo nav ul li {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
    
}
.headerTwo nav ul li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    
}
.headerTwo nav ul li a::after {
    content: '';
    background: red;
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -2px;
    display: inline-block;
    margin-top: 3px;
    transition: width .3s ease-in-out;
}
.headerTwo nav ul li a:hover::after{
    width: 100%;
    
}
.eks {
    position: absolute;
    top: 30px;
    right: 20px;
    transition: color .3s ease-in-out;
}
.eks button {
    all: unset;
    font-size: 30px;
}
.eks:hover,
.eks:active {
    cursor: pointer;
    color: var(--hover-color-one);
}


